.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  background-color: #303030;
  color: #fff;
}

.header h2 {
  font-size: 3rem;
  margin-left: 4rem;
}

.header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  min-width: 40rem;
  color: #6bac43;
}

.header ul li {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1rem 4rem;
  transition: all 0.3s;
}

.header ul li:hover {
  color: #fff;
  font-weight: 600;
}
